<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">SimpleWebApp</div>
            <nav class="nav">
                <a class="nav__link" href="/">Назад на главную</a>
            </nav>
        </div>
    </div>
</header>
<div class="div_input" th:object="${employee}">

    <form method="post">

        <b class="b1">Имя: </b><br>
        <input th:classappend="${#fields.hasErrors('firstName') ? 'input_text_error' : 'input_text'}" type="text" th:value="${employee.firstName}" name="firstName" placeholder="Введите имя"><br>
        <b class="b1">Фамилия: </b><br>
        <input th:classappend="${#fields.hasErrors('lastName') ? 'input_text_error' : 'input_text'}" type="text" th:value="${employee.lastName}" name="lastName" placeholder="Введите фамилию"><br>
        <b class="b1">Номер департамента: </b><br>
        <input th:classappend="${#fields.hasErrors('departamentId') ? 'input_number_error' : 'input_number'}" type="number" th:value="${employee.departamentId}" name="departamentId" placeholder="Введите номер департамента"><br>
        <b class="b1">Должность: </b><br>
        <input th:classappend="${#fields.hasErrors('jobTitle') ? 'input_text_error' : 'input_text'}" type="text" th:value="${employee.jobTitle}" name="jobTitle" placeholder="Введите должность"><br>
        <b class="b1">Пол: </b><br>
        <input class="input_gender" type="radio" th:value="${employee.gender}" name="genderDB">
        <label th:classappend="${#fields.hasErrors('gender') ? 'gender_error' : 'gender'}"><input class="input_gender" type="radio" name="gender" value="MALE"><div class="stlradio"></div>Male</label>
        <label th:classappend="${#fields.hasErrors('gender') ? 'gender_error' : 'gender'}"><input class="input_gender" type="radio" name="gender" value="FEMALE"><div class="stlradio"></div>Female</label><br>
        <script th:inline="javascript">
        /*<![CDATA[*/
            function check(){
            var gender = /*[[${employee.gender}]]*/ 'default';;
            let male = "MALE";
            let female = "FEMALE";
            var c = document.getElementsByName("gender");
            if (gender==male) c[0].checked = true;
            if (gender==female) c[1].checked = true;
            }
            check();
/*]]>*/

        </script>
        <b class="b1">Дата рождения: </b><br>
        <input th:classappend="${#fields.hasErrors('dateOfBirth') ? 'calendar_error' : 'calendar'}" type="date" th:value="${employee.dateOfBirth}" name="dateOfBirth" placeholder="Введите дату рождения"><br>
        <button class="btn" type="submit" >Обновить</button>
    </form>
</div>

</body>
</html>