body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: #666;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.nav{
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link.active{
	color: #fce38a;
}

.nav__link:after{
	content: "";
	display: block;
	opacity: 0;
	width: 100%;
	height: 3px;

	background-color: #fce38a;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover{
	color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
	opacity: 1;
}

.list{
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	max-width: 80%;
	width: 80%;
	border-collapse: collapse;
	text-align: left;
}

.list_log{
	margin-left: 100px;
	margin-top: 30px;
	color: #fff;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
}

.list_log td{
	padding: 5px 5px;
}

th {
  font-weight: normal;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 10px 8px;
}
.list td {
  color: #fff;
  padding: 9px 8px;
  transition: .1s linear;
  border-bottom: 2px solid #777;
}
tr:hover td {color: #fce38a;}

button.btn {
  padding: 3px 14px;

  background:  #404040;
  border-color: rgba(255, 255, 255, 0.027451) #fce38a rgba(255, 255, 255, 0.027451) rgba(255, 255, 255, 0.027451);
  border-style: solid;
  border-width: 1px 4px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
  color: #fff;
  display:block;
  width:120px;
  border-radius: 5px;
  font-size: 15px;
  text-shadow: rgb(0, 0, 0) 0px 1px 1px;
  line-height: 30px;
  position: relative;
  text-align: center;
  text-decoration:none;
  transition: .1s linear;
}

button.btn_deactive {
	padding: 3px 14px;

	background:  #808080;
	border-color: rgba(255, 255, 255, 0.027451) #fce38a rgba(255, 255, 255, 0.027451) rgba(255, 255, 255, 0.027451);
	border-style: solid;
	border-width: 1px 4px 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
	color: #fff;
	display:block;
	width:120px;
	border-radius: 5px;
	font-size: 15px;
	text-shadow: rgb(0, 0, 0) 0px 1px 1px;
	line-height: 30px;
	position: relative;
	text-align: center;
}

button.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  border-width: 1px 7px 1px 1px;
  color: #fce38a;
}

.detail {
    width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

.div_input{
    width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 100px;
}


.gender, .gender_error {
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}

.gender_error {
	color: red;
}

.error_text {
	margin-top: 5px;
	color: red;
	font-size: 16px;
}

.input_gender{
display: none;
}
.stlradio {
    display: inline-block;
    border: 2px solid #b2b1b1;
    width: 16px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 4px;
    border-radius: 300px;
    background-color:#ffffff;
}

.stlradio:before {
    content: '';
    background: #1c1e25;
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 300px;
}

input:checked + .stlradio:before {
    opacity: 1;
}
.input_text, .input_text_error {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	margin-top: 3px;
}

.input_text_error {
	border: 2px solid red;
}

input{
margin-bottom: 5px;
}

.input_number, .input_number_error {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	 -moz-appearance: textfield;
	 margin-top: 3px;
}

.input_number_error {
	border: 2px solid red;
}

.raz::-webkit-inner-spin-button {
  display: none;
}


.calendar, .calendar_error{
    width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	text-decoration: none;
	margin-top: 3px;
}

.calendar_error {
	border: 2px solid red;
}

.b1{
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    margin-left: -5px;
}

.inner {
	display: flex;
	margin-top: 80px;
}